main {
    display: flex;
    align-items: center;
    justify-content: center;
}
html, body {
    height: calc(100% - 10px);
}
main {
    height: calc(100vh - 65px);
}
body {
    margin: 0px;
    color: var(--sd-white);
    background-color: var(--sd-black-d10);
}
.server-btn * {
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .2s;

    /* For SVGs */
    fill: var(--sd-white);
    background-color: transparent;
}
.server-btn *:hover {
    border-radius: 15px;
    background-color: var(--sd-black-d10);
}
ul.nav {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100vw - 20px);
    padding: 5px;
    border-radius: 15px;
    background-color: var(--sd-black-d5);
    height: 55px;
}

/* Modals */
#nw-modal {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Best I can do since Tauri doesn't do backdrop-filter */
    background-color: rgb(0 0 0 / 95%);
}
#nw-modal > div {
    z-index: 999;
    padding: 40px;  /* Mainly to add more click room */
}

/* Popper popups */
div.nw-tooltip {
    background: var(--sd-black-d5);
    color: var(--sd-white);
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
    z-index: 999;
    position: fixed !important;
}
div.nw-tooltip p {
    margin: 0px;
}

/* Handle icons */
.icon {
    object-fit: cover;
    border-radius: 50%;
}
.icon.is {
    width: 25px;
    height: 25px;
}
.icon.im {
    width: 35px;
    height: 35px;
}

/* Custom element colors based on Soda */
#authServer {
    cursor: pointer;
    color: var(--sd-cherry-blossom-d25);
}

a.text-primary-emphasis {
    color: var(--sd-sky-d20) !important;
}
a.text-primary-emphasis:hover {
    color: var(--sd-sky-d30) !important;
}

button {
    border: none !important;
}
button.btn-primary {
    background-color: var(--sd-sky-d20);
}
button.btn-primary:hover {
    background-color: var(--sd-sky-d30);
}
button.btn-secondary {
    background-color: var(--sd-gray-d15);
}
button.btn-secondary:hover {
    background-color: var(--sd-black-l10);
}
