:root {
    --sd-red-l15: #f59595;
    --sd-red-l10: #f37e7e;
    --sd-red-l5: #f16666;
    --sd-light-red: #f37e7e;
    --sd-red: #ef4f4f;
    --sd-dark-red: #c61212;
    --sd-red-d5: #ed3838;
    --sd-red-d10: #eb2020;
    --sd-red-d15: #dd1414;
    --sd-red-d20: #c61212;
    --sd-red-d25: #af1010;
    --sd-red-d30: #970e0e;
    --sd-red-d35: #800c0c;
    --sd-red-d40: #690a0a;
    --sd-red-d45: #510707;
    --sd-red-d50: #3a0505;
    --sd-orange-l15: #f5bc95;
    --sd-orange-l10: #f3ad7e;
    --sd-orange-l5: #f19e66;
    --sd-light-orange: #f3ad7e;
    --sd-orange: #ef8f4f;
    --sd-dark-orange: #c65a12;
    --sd-orange-d5: #ed8038;
    --sd-orange-d10: #eb7120;
    --sd-orange-d15: #dd6514;
    --sd-orange-d20: #c65a12;
    --sd-orange-d25: #af4f10;
    --sd-orange-d30: #97450e;
    --sd-orange-d35: #803a0c;
    --sd-orange-d40: #69300a;
    --sd-orange-d45: #512507;
    --sd-orange-d50: #3a1a05;
    --sd-yellow-l15: #f5f595;
    --sd-yellow-l10: #f3f37e;
    --sd-yellow-l5: #f1f166;
    --sd-light-yellow: #f3f37e;
    --sd-yellow: #efef4f;
    --sd-dark-yellow: #c6c612;
    --sd-yellow-d5: #eded38;
    --sd-yellow-d10: #ebeb20;
    --sd-yellow-d15: #dddd14;
    --sd-yellow-d20: #c6c612;
    --sd-yellow-d25: #afaf10;
    --sd-yellow-d30: #97970e;
    --sd-yellow-d35: #80800c;
    --sd-yellow-d40: #69690a;
    --sd-yellow-d45: #515107;
    --sd-yellow-d50: #3a3a05;
    --sd-green-l15: #95f595;
    --sd-green-l10: #7ef37e;
    --sd-green-l5: #66f166;
    --sd-light-green: #7ef37e;
    --sd-green: #4fef4f;
    --sd-dark-green: #12c612;
    --sd-green-d5: #38ed38;
    --sd-green-d10: #20eb20;
    --sd-green-d15: #14dd14;
    --sd-green-d20: #12c612;
    --sd-green-d25: #10af10;
    --sd-green-d30: #0e970e;
    --sd-green-d35: #0c800c;
    --sd-green-d40: #0a690a;
    --sd-green-d45: #075107;
    --sd-green-d50: #053a05;
    --sd-cyan-l15: #95f5f5;
    --sd-cyan-l10: #7ef3f3;
    --sd-cyan-l5: #66f1f1;
    --sd-light-cyan: #7ef3f3;
    --sd-cyan: #4fefef;
    --sd-dark-cyan: #12c6c6;
    --sd-cyan-d5: #38eded;
    --sd-cyan-d10: #20ebeb;
    --sd-cyan-d15: #14dddd;
    --sd-cyan-d20: #12c6c6;
    --sd-cyan-d25: #10afaf;
    --sd-cyan-d30: #0e9797;
    --sd-cyan-d35: #0c8080;
    --sd-cyan-d40: #0a6969;
    --sd-cyan-d45: #075151;
    --sd-cyan-d50: #053a3a;
    --sd-sky-l15: #95d9f5;
    --sd-sky-l10: #7ed0f3;
    --sd-sky-l5: #66c8f1;
    --sd-light-sky: #7ed0f3;
    --sd-sky: #4fbfef;
    --sd-dark-sky: #1290c6;
    --sd-sky-d5: #38b7ed;
    --sd-sky-d10: #20aeeb;
    --sd-sky-d15: #14a1dd;
    --sd-sky-d20: #1290c6;
    --sd-sky-d25: #107faf;
    --sd-sky-d30: #0e6e97;
    --sd-sky-d35: #0c5d80;
    --sd-sky-d40: #0a4c69;
    --sd-sky-d45: #073b51;
    --sd-sky-d50: #052a3a;
    --sd-blue-l15: #9595f5;
    --sd-blue-l10: #7e7ef3;
    --sd-blue-l5: #6666f1;
    --sd-light-blue: #7e7ef3;
    --sd-blue: #4f4fef;
    --sd-dark-blue: #1212c6;
    --sd-blue-d5: #3838ed;
    --sd-blue-d10: #2020eb;
    --sd-blue-d15: #1414dd;
    --sd-blue-d20: #1212c6;
    --sd-blue-d25: #1010af;
    --sd-blue-d30: #0e0e97;
    --sd-blue-d35: #0c0c80;
    --sd-blue-d40: #0a0a69;
    --sd-blue-d45: #070751;
    --sd-blue-d50: #05053a;
    --sd-purple-l15: #b477b4;
    --sd-purple-l10: #ab66ab;
    --sd-purple-l5: #9f589f;
    --sd-light-purple: #ab66ab;
    --sd-purple: #8f4f8f;
    --sd-dark-purple: #4d2b4d;
    --sd-purple-d5: #7f467f;
    --sd-purple-d10: #6e3d6e;
    --sd-purple-d15: #5e345e;
    --sd-purple-d20: #4d2b4d;
    --sd-purple-d25: #3d223d;
    --sd-purple-d30: #2c192c;
    --sd-purple-d35: #1c0f1c;
    --sd-magenta-l15: #f456d2;
    --sd-magenta-l10: #f33ecc;
    --sd-magenta-l5: #f126c6;
    --sd-light-magenta: #f33ecc;
    --sd-magenta: #ef0fbf;
    --sd-dark-magenta: #8f0972;
    --sd-magenta-d5: #d70dac;
    --sd-magenta-d10: #bf0c99;
    --sd-magenta-d15: #a70a85;
    --sd-magenta-d20: #8f0972;
    --sd-magenta-d25: #77075f;
    --sd-magenta-d30: #5f064c;
    --sd-magenta-d35: #470439;
    --sd-pink-l15: #f9d2e5;
    --sd-pink-l10: #f5bcd9;
    --sd-pink-l5: #f2a5cc;
    --sd-light-pink: #f5bcd9;
    --sd-pink: #ef8fbf;
    --sd-dark-pink: #e2368c;
    --sd-pink-d5: #ec79b2;
    --sd-pink-d10: #e962a6;
    --sd-pink-d15: #e54c99;
    --sd-pink-d20: #e2368c;
    --sd-pink-d25: #df207f;
    --sd-pink-d30: #c81d73;
    --sd-pink-d35: #b21966;
    --sd-pink-d40: #9c1659;
    --sd-pink-d45: #85134c;
    --sd-pink-d50: #6f1040;
    --sd-white-l10: white;
    --sd-white-l5: #fcfcfc;
    --sd-light-white: white;
    --sd-white: #efefef;
    --sd-dark-white: #bcbcbc;
    --sd-white-d5: #e2e2e2;
    --sd-white-d10: #d6d6d6;
    --sd-white-d15: #c9c9c9;
    --sd-gray-l10: darkgray;
    --sd-gray-l5: #9c9c9c;
    --sd-light-gray: darkgray;
    --sd-gray: #8f8f8f;
    --sd-dark-gray: #5c5c5c;
    --sd-gray-d5: #828282;
    --sd-gray-d10: #767676;
    --sd-gray-d15: dimgray;
    --sd-black-l10: #393939;
    --sd-black-l5: #2c2c2c;
    --sd-light-black: #393939;
    --sd-black: #1f1f1f;
    --sd-dark-black: black;
    --sd-black-d5: #121212;
    --sd-black-d10: #060606;
    --sd-black-d15: black;
    --sd-sand-l15: #f9e5d2;
    --sd-sand-l10: #f5d9bc;
    --sd-sand-l5: #f2cca5;
    --sd-light-sand: #f5d9bc;
    --sd-sand: #efbf8f;
    --sd-dark-sand: #e28c36;
    --sd-sand-d5: #ecb279;
    --sd-sand-d10: #e9a662;
    --sd-sand-d15: #e5994c;
    --sd-sand-d20: #e28c36;
    --sd-sand-d25: #df7f20;
    --sd-sand-d30: #c8731d;
    --sd-sand-d35: #b26619;
    --sd-sand-d40: #9c5916;
    --sd-sand-d45: #854c13;
    --sd-sand-d50: #6f4010;
    --sd-peach-l15: #f5d995;
    --sd-peach-l10: #f3d07e;
    --sd-peach-l5: #f1c866;
    --sd-light-peach: #f3d07e;
    --sd-peach: #efbf4f;
    --sd-dark-peach: #c69012;
    --sd-peach-d5: #edb738;
    --sd-peach-d10: #ebae20;
    --sd-peach-d15: #dda114;
    --sd-peach-d20: #c69012;
    --sd-peach-d25: #af7f10;
    --sd-peach-d30: #976e0e;
    --sd-peach-d35: #805d0c;
    --sd-peach-d40: #694c0a;
    --sd-peach-d45: #513b07;
    --sd-peach-d50: #3a2a05;
    --sd-mint-green-l15: #e5f9d2;
    --sd-mint-green-l10: #d9f5bc;
    --sd-mint-green-l5: #ccf2a5;
    --sd-light-mint-green: #d9f5bc;
    --sd-mint-green: #bfef8f;
    --sd-dark-mint-green: #8ce236;
    --sd-mint-green-d5: #b2ec79;
    --sd-mint-green-d10: #a6e962;
    --sd-mint-green-d15: #99e54c;
    --sd-mint-green-d20: #8ce236;
    --sd-mint-green-d25: #7fdf20;
    --sd-mint-green-d30: #73c81d;
    --sd-mint-green-d35: #66b219;
    --sd-mint-green-d40: #599c16;
    --sd-mint-green-d45: #4c8513;
    --sd-mint-green-d50: #406f10;
    --sd-forest-l15: #16d475;
    --sd-forest-l10: #14bd69;
    --sd-forest-l5: #11a65c;
    --sd-light-forest: #14bd69;
    --sd-forest: #0f8f4f;
    --sd-dark-forest: #05331c;
    --sd-forest-d5: #0d7842;
    --sd-forest-d10: #0a6136;
    --sd-forest-d15: #084a29;
    --sd-forest-d20: #05331c;
    --sd-forest-d25: #031c0f;
    --sd-forest-d30: #000503;
    --sd-forest-d35: black;
    --sd-forest-d40: black;
    --sd-forest-d45: black;
    --sd-forest-d50: black;
    --sd-mint-blue-l15: #d2f9f9;
    --sd-mint-blue-l10: #bcf5f5;
    --sd-mint-blue-l5: #a5f2f2;
    --sd-light-mint-blue: #bcf5f5;
    --sd-mint-blue: #8fefef;
    --sd-dark-mint-blue: #36e2e2;
    --sd-mint-blue-d5: #79ecec;
    --sd-mint-blue-d10: #62e9e9;
    --sd-mint-blue-d15: #4ce5e5;
    --sd-mint-blue-d20: #36e2e2;
    --sd-mint-blue-d25: #20dfdf;
    --sd-mint-blue-d30: #1dc8c8;
    --sd-mint-blue-d35: #19b2b2;
    --sd-mint-blue-d40: #169c9c;
    --sd-mint-blue-d45: #138585;
    --sd-mint-blue-d50: #106f6f;
    --sd-cherry-blossom-l15: #fefcfc;
    --sd-cherry-blossom-l10: #f9e8e8;
    --sd-cherry-blossom-l5: #f4d3d3;
    --sd-light-cherry-blossom: #f9e8e8;
    --sd-cherry-blossom: #efbfbf;
    --sd-dark-cherry-blossom: #db6d6d;
    --sd-cherry-blossom-d5: #eaabab;
    --sd-cherry-blossom-d10: #e59696;
    --sd-cherry-blossom-d15: #e08282;
    --sd-cherry-blossom-d20: #db6d6d;
    --sd-cherry-blossom-d25: #d65959;
    --sd-cherry-blossom-d30: #d04545;
    --sd-cherry-blossom-d35: #c93232;
    --sd-cherry-blossom-d40: #b52d2d;
    --sd-cherry-blossom-d45: #a02828;
    --sd-cherry-blossom-d50: #8c2323
}
